.backdrop
  background: #000
  position: absolute
  top: 0
  left: 0
  display: grid
  place-items: center
  width: 100%
  min-height: 100vh
  z-index: 99999

.modal
  background-color: #e8e8e8
  width: 90%
  min-height: 80vh
  border-radius: 5px
  margin-top: 4rem
  margin-bottom: 4rem
  overflow: hidden

.title
  font-size: 30px
  margin-bottom: 3rem
  
.firstSection 
  padding: 1rem 3rem
  font-family: var(--font-two)
  color: #122312

  a
    color: #0ad
